<% @jobs.each do |job|%>
<div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem;">
      
    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
           <%=job.avatar%> class="rounded-circle img-fluid"
          alt="woman avatar">
        
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold"><%=job.title%></h4>
        <hr>
        <p><i class="fas fa-quote-left"></i>  <%= job.description%></p>
      </div>
    </div>
    
  </section>
</div>

  <%end%>