@import "bulma";
@import "functions";
@import "jobs";
@import "trix/dist/trix";

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.hint{
  font-size: small;
}

.tag{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px !important;
}

.logo{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}


.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link::active {
  color: #45b649;
  background: #fff;
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}
.form{
  
  
  max-width:650px; margin:50px auto;
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid white;
   // transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
   outline:0;
  order:2px solid #CC4949;
    
  }
